* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

:root {

    --background-primary: #041135;
    --background-secondary: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #c93847;
    --content-primary: #d7d7d8;
    --content-secondary: #374151;
    --content-tertiary: #9ca3af;

    --border-primary: #D1D5DB;
    --border-secondary: #B9C2D0;

    --font-title: bold 24px/32px 'Inter', sans-serif;
    --font-label: 600 16px/29px 'Inter', sans-serif;
    --font-paragraph: 500 16px/20px 'Inter', sans-serif;
    --font-link: 500 14px/16px 'Inter', sans-serif;
      
}

html {
    max-width: 1366px;
    max-height: 768px;
}

body {
    background-color: var(--background-primary);
}

header {
    padding-block: 25px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo img {
    display: block;
    max-width: 156px;
    max-height: 40px;
    gap: 7px;
}

a {
    text-decoration: none;
    color: inherit;  
    outline: none; 

}

.nav {
    max-width: 57px;
    max-height: 16px;
    margin-top: 152px;
}

#back {
    font: var(--font-link);
    color: var(--color-brand);
}

.titleDiv {
    margin-top: 16px;
    max-width: 240px;
    max-height: 32px;
}

#title {
    font: var(--font-title);
    color: var(--content-primary);
}

.formContainer {
    display: flex;
    max-width: 627px;
    max-height: 44px;
    margin-top: 44px;
    gap: 16px;
}

.inputStyle {
    flex: 1;
    font: var(--font-paragraph);
    background-color: var(--background-secondary);
    max-width: 451px;
    padding: 18px;
    border: 2px solid var(--border-primary);
    border-radius: 12px;
    outline: none;
}

.inputStyle:hover {
    border: 2px solid var(--border-secondary);
}

.inputStyle:focus {
    border: 2px solid var(--color-brand);
}

.inputStyle::placeholder {
    color: var(--content-tertiary);
}

.buttonSubmit {
    font: var(--font-label);
    flex: 1;
    background-color: var(--color-brand);
    border: none;
    max-width: 160px;
    max-height: 44px;
    border-radius: 12px;
    gap: 8px;
    color: white;
}

.buttonSubmit:hover {
    background-color: var(--color-brand-hover);
    cursor: pointer;
}


.checklist {
    margin-top: 40px;
    list-style: none;
    font: var(--font-paragraph);
    width: 100%;
}
.checklist label {
    display: flex;
    align-items: center;
    gap: 8.5px
}

.checkboxInput {
    display: none;
}

.checkboxVisual {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../assets/icons/checkboxDefatul.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 12px;
    cursor: pointer;
}

.checkboxInput:checked + .checkboxVisual {
    background-image: url('../assets/icons/checkboxSelected.svg');
}

#checkboxDefault {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 12px;
    border-radius: 6px;
    width: 16px;
    height: 16px;
}

#checkboxDefault:hover {
    background-image: url(../assets/icons/checkboxHover.svg);
}

.containerList {
    margin-bottom: 8px;
    background-color: white;
    border-radius: 12px;
    width: 627px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainContent {
    width: 100%;
    max-width: 627px;
    margin: 0 auto;
}

.containerSpanList {
    font: var(--font-paragraph);
    color: var(--content-secondary);
    width: 173px;
    height: 33px;
    display: inline-flex;
    align-items: center;
    justify-content: left;
}

#imgTrashcan {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.footerContainer {
    display: flex;
    justify-content: center;
}

.toast {
    display: flex;
    background-color: var(--color-danger);
    max-width: 627px;
    max-height: 49px;
    width: 400px;
    height: 49px;
    visibility: visible;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    z-index: 1000;
    transition: opacity 2s ease-in, visibility 0s 0s;
    opacity: 0;
}

.spanToast {
    display: flex;
    align-items: center;
    font: var(--font-label);
    color: white;
    max-width: 547px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    margin-left: 15.5%;
}

.warningImg {
    display: flex;
    align-items: center;
    margin-left: 12px;
    width: 20px;
    height: 20px;
    justify-content: center;
}


